div.noticia {
    width: 50%;
    margin: 20px auto;
    background-color: #449;
    color: #fff;
    padding: 15px;
    margin-top: 35px;
  }
  
  .derecha {
    float: right;
    margin-left: 15px;
    border: 5px solid darkblue;
    height: 100px;
    width: 100px;
  }
  
  div.reset {
    clear: both;
  }
